

.nav {
    display: grid;
    width: 20px;
    text-align: center;
    padding-block: 4px
}

.contenedor {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3);
    border: 2px solid black;

}


